.container { 
  display: flex;
  gap: 1rem;
  color: var(--title)
}

.container > div { 
  display: flex; 
  gap: .5rem; 
  flex-direction: column;
}

.container > div > p {
  color: inherit;
}
.container > div > span { 
  display: flex; 
  gap: .25rem;
}

.container > div > h3 {
  text-transform: capitalize;
  color: var(--sub-title)
}

@media (max-width: 768px) {
  .container{
    flex-direction: column;
    text-align: center;
  }
  .container > a {
    display: flex;
    justify-content: center;
  }
  .container > div > div {
    justify-content: center;
  }
}