.container { 
  display: flex; 
  flex-direction: column; 
  gap: 1.25rem;
  color: rgb(100, 116, 139);
}

.container > div { 
  display: flex; 
  gap: .5rem; 
  flex-direction: column;
}

.container > div > p {
  color: inherit;
}
.container > div > span { 
  display: flex; 
  gap: .25rem;
}

.container > div > span > label {
  font-size: .9rem;
  border: 2px solid rgba(0,0,0,.1);
  padding: .25rem .5rem;
  border-radius: 7px;
  text-transform: lowercase;
}

.container > div > ul > li {
  color: rgba(71, 85, 105, 1);
}

.container > div > ul { 
  margin-left: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: .5rem
}

.container > div > h2 {
  text-transform: capitalize;
}